#header{
font-family:Cinzel;
font-size: 25px;

}

.card-body{
font-family: Merriweather ;
}

.regex{
color: #fff111;
text-shadow:yellow 1px 0 10px ;
font-size: 30px;
font-weight: bold;
}

#output{
font-family: 'Playfair Display';
font-size: 20px;
}

#outputWord{
color: red;
font-family: 'Exo 2';
}

#outputReplace{
color: green;
font-family: 'Exo 2';
}